<!-- <form>
       <input type="text" [(ngModel)]="exampleVariable" name="input"/>
</form>
<p>{{exampleVariable}}</p> -->

<div class="container">
  <!-- First row -->
  <div class="row mt-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1>Start your career with Antra Today!</h1>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <!-- Second row -->
  <div class="row mt-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p class="text-center">
        Lorem ipsum dolor sit, Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Iste laudantium sequi reiciendis nemo fugit impedit
        nihil incidunt, velit corporis minus.amet consectetur adipisicing elit.
        Odit illo alias impedit voluptates sit tempore soluta reprehenderit
        exercitationem suscipit neque!
      </p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<!-- Containers -->

<div class="container">
  <!-- Header -->
  <div class="row mt-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 class="text-center">Featured Positions</h2>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <!-- Cards -->
  <div class="row mt-4 mx-5">
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mx-5">
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mx-auto" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
